{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django introduction</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">

        <h1>장고 입문</h1>

        {% if user.is_authenticated %}
            <p>
                logged by {{ user }}
                <a href="/accounts/logout/">Logout</a>
            </p>
        {% else %}
            <a href="/accounts/login/">Login</a>
        {% endif %}
        
        {% block content %}
        
        {% endblock %}
        
        
        <hr/>
        &copy; 2022. 파이썬 사랑방.
    </div>
</body>
</html>